#side-checkbox {
    display: none;
}

.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #FFF;
    transition: all 0.5s;   
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #000000;
    padding: 40px 20px;
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	font-weight: 600;
	color: #385898;
	background-color: #e7f3ff;
	cursor: pointer;
	touch-action: manipulation;
}
.btn:focus-visible {
	box-shadow: 0 0 0 2px #666;
}
.btn:hover {
	background-color: #DBE7F2;
}
.btn:active {
	transform: scale(0.96);
}


#side-checkbox:checked + .side-panel {
    left: 0;
}

.side-button-2 {
    position: absolute;
    top: 15px;
    right: 300px;
    cursor: pointer;
}
.side-button-2:active{
    transform: scale(0.96);
}

.logo{
    position: absolute;
    top: 8px;
    right: 180px
}

.push-buton{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}
.push-buton:active{
    transform: scale(0.96);
}
.push-buton-2{
    cursor: pointer;
}
.push-buton-2:active{
    transform: scale(0.96);
}

.list {
	display: flex;	
	box-sizing: border-box;
	padding: 0 30px;
	margin: 40px 0 -30px 0;
    border-radius: 1px;
    border: none;
	line-height: 38px;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	background-color: #fff;
	cursor: pointer;
}   
.list:focus {
    color: #7E7E82;
	border-left: solid 4px #30b6a0
}
.list:hover {
	background-color: #d3d3d3;
	border-left: 2px #d3d3d3;
}
.list:active {  
	background-color: #d3d3d3;
	border-left: 2px #d3d3d3;	
    transform: scale(0.96);
}

footer{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	top: 500px
}
