html, body {
    height: 100%;
}

.block {
    background-color: #000;
    height: 100px;
}

#block1 {
    width: 40%;
    margin-right: 40%;
}

#block2 {
    width: 20%;
}

#content1 { 
    margin-bottom: 50px;
}

#subcontent1 {
    margin-bottom: 50px;
    display: flex;
}

#content2, .element {
    display: flex;
}

#content2 {
    margin-bottom: 50px;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 90px;
    height: 90px;

    align-items: center;

    background-color: #000;

    margin-bottom: 15px;
}

.text {
    margin-bottom: 15px;

    font-weight: bold;
}

#content3 {
    display: flex;
}

#subcontent2 {
    display: flex;
    width: 100%;

    flex-direction: column;

    margin-bottom: 50px;
}   

#subcontent3 {
    display: flex;
    width: 100%;

    flex-direction: column;

    margin-bottom: 50px;
}   

#block4 {
    width: 40%;
    height: 50px;

    margin-bottom: 50px;
}

#block5 {
    width: 90%;
    height: 75px;

    margin-bottom: 50px;
}

#block6 {
    width: 50%;
    height: 50px;
    
    margin-bottom: 50px;
}

#block7 {
    width: 90%;
    height: 75px;
    
    margin-bottom: 50px;
}

#subcontent2 .element {
    flex-direction: row;
}


#subcontent2 .element .container {
    width: 80%;

    margin-left: 15px;
}

#subcontent2 .element .image {
    width: 100px;
    height: 100px;
}

element.style {
    margin-left: 10px;
    width: 75%;
}

#subcontent3 .element {
    margin-bottom: 35px;
}