@font-face {
    font-family: 'TTLakes-Regular';
    src: url(fonts/TTLakes-Regular.ttf) format(truetype),
    url(fonts/TTLakes-Regular.ttf) format(opentype);
    }
@font-face {
    font-family: 'TTLakes-Bold';
    src: url(fonts/TTLakes-Bold.ttf) format(truetype),
    url(fonts/TTLakes-Bold.ttf) format(opentype);
}
@font-face {
    font-family: 'TTLakes-Medium';
    src: url(fonts/TTLakes-Medium.ttf) format(truetype),
    url(fonts/TTLakes-Medium.ttf) format(opentype);
}

body{
    background-color: blanchedalmond;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    margin-right: 10px;
}

.stick{
    width: 2px; 
    height: 32px;
    border-radius: 1px;
    background: #EAEAEA;
}